<footer class="blog-footer w-100">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd8pxHUv149eNbKwaftGqHre0Jdfo4MIlNhL6GBes5-9QcMxA/viewform?embedded=true" width="500" height="100" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <nav class="navbar navbar-light bg-light"; align-items:center>
            <p class="w-100 text-center">Kabirou Mbodje Fan Club - <a href="mailto:info@warileaks.com?subject=feedback">info@warileaks.com</a><br>
              Tous les documents publiés ici sont dans le domaine public, aucune autorisation n'est
              requise pour les reproduire sous quelque forme que ce soit.</p>
        </nav>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101113073); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101113073ns.gif" /></p></noscript>
</footer>
