<footer class="blog-footer w-100">
  <a name="form1650341587" id="formAnchor1650341587"></a>
  <script type="text/javascript" src="https://fs28.formsite.com/include/form/embedManager.js?1650341587"></script>
  <script type="text/javascript">
  EmbedManager.embed({
  	key: "https://fs28.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTAEYNT%2F6OWZzWrYe2Y6sJfY&1650341587",
  	width: "100%",
  	mobileResponsive: true
  });
  </script>

    <nav class="navbar navbar-light bg-light"; align-items:center>
            <p class="w-100 text-center">Kabirou Mbodje Fan Club - <a href="mailto:info@warileaks.com?subject=feedback">info@warileaks.com</a><br>
              Tous les documents publiés ici sont dans le domaine public, aucune autorisation n'est
              requise pour les reproduire sous quelque forme que ce soit.</p>
        </nav>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101113073); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101113073ns.gif" /></p></noscript>
</footer>
