<footer class="blog-footer w-100">
  <div id="unisender-subscribe-form" data-url="https://cp.unisender.com/ru/v5/subscribe-form/view/6w16ugxgjc6syf9be761ppxinhot6isn15a58g5y"></div>
<script type="text/javascript" src="https://cp.unisender.com/v5/template-editor-new/js/app/preview/form/form-widget-loader.js"></script>
    <nav class="navbar navbar-light bg-light"; align-items:center>
            <p class="w-100 text-center">Kabirou Mbodje Fan Club - <a href="mailto:info@warileaks.com?subject=feedback">info@warileaks.com</a><br>
              Tous les documents publiés ici sont dans le domaine public, aucune autorisation n'est
              requise pour les reproduire sous quelque forme que ce soit.</p>
        </nav>

    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101113073); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101113073ns.gif" /></p></noscript>
</footer>
